.fishList {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    background-color: mediumorchid;
}

.fish {
    background-color: mediumvioletred;
}


.fish__picture {
    max-width: 15rem;
    max-height: 15rem;
}