.fishList {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    background-color: #888888;
    justify-content: center;
}

.fish {
    padding:1em;
    background-color: #888888;
}


.fish__picture {
    max-width: 15rem;
    max-height: 15rem;
}